* {
    box-sizing: border-box;
}

body{ margin:0;}


.content{
  max-width: 1100px;
  margin: auto;
}

.contentnarrow{
  max-width: 600px;
  margin: auto;
}

.header{
  float: left;
  width: 100%;
  min-height: 60px;
  font-size: 40px;
  font-weight: normal;
  line-height: 140%;
  padding-top: 20px;
}

.text{
  float: left;
  max-width: 800px;
  font: sans-serif 16px 500;
  line-height: 140%;
  padding-top: 30px;
}

.menu{
  font-size: 43px;
  font-weight: normal;
  line-height: 140%;
  padding-top: 110px;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    margin-top: 10px;
}


@media (max-width: 1120px) {

.header{
    padding-left: 20px;
    padding-top: 0px;
  }

.text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }

.menu{
  padding-left: 20px;
  font-size: 40px;
}

}


@media (max-width: 500px) {

.menu{
  font-size: 30px;
}

.header{
  padding-top: 0px;
}

}


html{
  font-family: sans-serif;
}

img{
  max-width: 100%;
  margin-left:auto;
  margin-right: auto;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #0B0080;

}

a:visited {
    text-decoration: none;
    color: #0B0080;
}

a:hover {
    text-decoration: none;
    background-color:pink;
}

a:active {
    text-decoration: none;
    background-color: #00FFFF;
}
